Scrapy==1.1.0rc3
-e git+git@github.com:lopuhin/scrapy-splash.git@a4cbcb9402757cea89f8977ffe1e0c5b795b609f#egg=scrapyjs-origin/hh
## The following requirements were added by pip --freeze:
PyDispatcher==2.0.5
Twisted==15.5.0
attrs==15.2.0
cffi==1.5.2
cryptography==1.2.3
cssselect==0.9.1
idna==2.0
lxml==3.5.0
parsel==1.0.1
pyOpenSSL==0.15.1
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.14
queuelib==1.4.2
service-identity==16.0.0
six==1.10.0
w3lib==1.13.0
zope.interface==4.1.3
