scrapy==1.1.0rc4
botocore
scrapy-splash==0.6
git+https://github.com/TeamHG-Memex/autologin-middleware.git
git+https://github.com/TeamHG-Memex/MaybeDont.git
Formasaurus[with_deps]==0.7.2
autopager==0.2
datasketch==0.2.3
tqdm
pytest
