git+https://github.com/scrapy/scrapy.git@288f8c09f8bac4c92f49332c8a5f5a21a182cc15
botocore
git+https://github.com/scrapy-plugins/scrapy-splash.git@bc8ddfd6732b5db40742dfe9bc251e4555ecd2ca
Formasaurus[with_deps]==0.7.2
autopager==0.1
datasketch==0.1.35
tqdm
pytest
